@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
/*Styling header*/
header{
    background-color:#f0f0f0;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 100px;
}
.logo{
    text-decoration: none;
    color: #3a6cf4;
    font-size: 1.8em;
    font-weight: 700;
    text-transform: uppercase;
}
.navigation a{
    color:#3a6cf4;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.1em;
    padding-left: 30px;

}
.navigation a:hover{
    color: #601cfc;
}
/*Styling main section*/
section{
    padding: 100px 50px;
}
.main{
    width: 100%;
    min-height:103vh;
    display: flex;
    align-items: center;
    /*background-image: url("mostafa.jpg") ;*/
    background-color: #000016;
    background-size:cover;
    background-position:center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.main h2{
    color: #ffffff;
    font-size: 1.4em;
    font-weight: 700;
}
.main h2 span
{
    display: inline-block;
    color: #0026c4;
    font-size: 2.5em;
    font-weight: 600;
    margin-top: 10px;
}
.letter{
    color: #ffffff !important;
    font-size: 1.2em !important;
    margin: 0 !important;
    padding: 0 !important;
}
.main h3{
    color: #ffffff;
    font-weight: 700;
    font-size: 2em;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
}
.main-btn{
    color: #ffffff;
    background-color:#3a6cf4 ;
    text-decoration: none;
    font-size: 1em;
    font-weight: 600;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 40px;
    transition: 0.7s ease;
}
.main-btn:hover{
    background-color: #0a49f6;
    transform: scale(1.1);
}
.social-icons a{
    color: #ffffff;
    font-size: 1.7em;
    padding-right: 30px;
}
/*Styling services section*/
.title{
    text-align: center;
    color:#3a6cf4;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
}
.content{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.card{
    background-color: #ffffff;
    width: 21.25em;
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: 0.7s ease;
}
.card:hover{
    transform: scale(1.1);
}
.icon{
    color: #3a6cf4;
    font-size: 8em;
    text-align: center;
}
.info{
    text-align: center;
}
.info h3{
    color: #3a6cf4;
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px;
}
/*Styling projects section*/
.projects{
    background-color: #000016;
}
.projects .title{
    margin-bottom: 10px ;
}
.project-card{
    background-color: #ffffff;
    border: 1px solid #ffffff;
    min-height: 14em;
    width: 23em;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px;
    transition: 0.7s ease;
}

.project-card:hover{
    transform: scale(1.1);
}
.project-card:hover .project-image{
    opacity: 0.9;
}
.project-image img{
    width: 100%;
    height:250px;
}
.project-info{
    padding: 1em;
}
.project-category{
    font-size: 0.8em;
    color: #000000;
}
.project-title{
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 10px;

}
.more-details{
    text-decoration: none;
    color: #3a6cf4;
}
.more-details:hover{
    color: #601cfc;
}
/*Styling contact section*/
.card-contact .icon{
    font-size: 4.5em;
}
.card-contact .info h3{
    color: black;
}
.card-contact .info p{
    font-size: 1.2em;
}
/*Styling footer*/
.footer{
    background-color: #000016;
    color: #ffffff;
    padding: 1em;
    display: flex;
    justify-content: space-between;
}
.footer-title{
    font-size: 1.3em;
    font-weight: 600;
}
.footer-title span{
    color: #3a6cf4;
}

/**/
@media (max-width: 1023px) {
    header{
        padding: 12px 20px;
    }
    .navigation a{
        padding-left: 10px;
    }
    .title{
        font-size: 1.8em;
    }
    section{
        padding: 80px 20px;
    }
    .main h2{
        font-size: 1em;
    }
    .main h3{
        font-size: 1.6em;
    }
    .content{
        flex-direction: column;
        align-items: center;
    }
    .footer {
        flex-direction: column;
        align-items: center;
    }

}

@media (max-width: 641px) {
    body{
        font-size: 12px;

    }
    header{
        padding: 5px 5px;
    }
    .main h2{
        font-size: 0.8em;
    }
    .main h3{
        font-size: 1.4em;
    }
    .projects {
        padding-left: 5px;
    }

    
}
@media (max-width: 300px){
    body{
        font-size: 10px;
    }
    header{
        padding: 5px 5px;
    }
    .projects {
        padding-left: 5px;
    }
    #paragraph{
        padding-right: 15px !important;
        font-size: 11px;
    }

}